<div id="content_sub">
	<div id="content_sub_left">
		
		<div id="pl_header">		
		
			<div class="place_header_summary">
				<div class="list_item_title"><%=@question.description%></div>
				<div class="list_item_desc"><%=@question.place.address%></div>
			</div>
			<span id="question_page_id" question_id ="<%=@question.id%>" style="display:none;"></span>
			 <%if current_user%>
			  <% if current_user.qfollowships.find_by_question_id(@question.id) %>
				<a href="javascript:void(0)" id = "qfollowship_link" ><div id="followship_quesition" class="followed_on" title 
				="取消关注"><p>已关注</p></div></a>
			 <%else%>
			    <a href="javascript:void(0)" id = "qfollowship_link" ><div id="followship_quesition" 	  
				class="followed_off" title="添加关注">添加关注</div></a>
			 <%end%>
			 <%end%>


		</div> <!--place/id header end -->
		
		<div class="spacer"></div>
		
	
		<div id= "answer_items">
	    <%= render :partial =>"answer", :collection =>@answers%>
		</div><!---question item end -->
</div> <!--- sub left end -->


	<div id="content_sub_right">
			 <%= render :partial =>"/shared/sub_right_question", :locals =>{:question => @question}%>
	</div>
	<div class="clear"> </div>
	</div> <!--content right end -->
</div><!-- content sub end -->
