<div id ="content">
<div id ="color-header" style="background:#008cb1; width:490px; height:54px;">
	<span style=" position:relative; display: block;font-size :20px; left:10px ;top:10px ; font-weight:bold; color: #ffffff;"> 登录</span>
</div>


<div id="log_in_form" class ="form_content">

<p>Already have an account? <%= link_to "Log in", login_path %>.</p>

<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <div id="username" class="form_field" >
  <span class="lb_field_tag">
    <%= f.label :姓名 %>
  </span>
  <span class = "lb_field">
    <%= f.text_field :name %>
  </span>
  </div>
   <div id="username" class="form_field" >
  <span class="lb_field_tag">
    <%= f.label :e_mail, "邮件" %>
  </span>
  <span class = "lb_field">   
    <%= f.text_field :e_mail %>
  </span>
  </div>
   <div id="username" class="form_field" >
  <span class="lb_field_tag">
    <%= f.label :密码 %>
  </span>
	<span class = "lb_field">   
    <%= f.password_field :password %>
    </span>
  </div>
     <div id="username" class="form_field" >
	  <span class="lb_field_tag">
    <%= f.label :password_confirmation, "确认" %></span>
     <span class="lb_field">
    <%= f.password_field :password_confirmation %>
    </span>
   </div>
  <div id="checkme" class = "form_field">
  <span class = "lb_form_submit" style="top:50px;">
  <%= f.submit "Sign up" %></span>
<% end %>
</div><!-- form content end -->
</div><!-- content end -->
