<div id="content">
<div id="signup" class="standard_form">
	
	<%= form_for @user do |f| %>
	<h1>
	<p>注册 ( 已经有帐号？ <%= link_to "登录", login_path %>)</p></h1>
	<% @user.errors.full_messages.each do |msg|%>
	<div class="error_box">	<%= msg %></div>
	<% end%>
	 <label for="username">
       用户名<br>
		<%= f.text_field :name ,:class=>"text"%>
     </label>

	 <label for="email">
        电子邮件
        <br>
		<%= f.text_field :e_mail ,:class=>"text"%>
      </label>
	 <label for="password">
       密码
        <br>
		<%= f.password_field :password ,:class=>"text"%>
      </label>
	 <label for="password_confirm">
       密码确认
        <br>
		<%= f.password_field :password_confirmation ,:class=>"text"%>
      </label>

 
	  <label>
	        <%= submit_tag "注册" ,:class =>"input submit"%>
	  </label>
	<% end %>
 
</div>
</div>

