<h3 class="inactive">关注者</h3>
	<div class="avatars">
<%= image_tag "a1.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a2.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a1.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a2.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a1.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a2.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a1.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a2.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a1.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a2.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a1.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a2.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a1.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a2.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a1.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a2.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a1.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a2.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a1.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a2.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a1.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a2.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a1.png", :alt => "avatar", :class => "avatar"%><%= image_tag "a2.png", :alt => "avatar", :class => "avatar"%>
	</div>
<h3 class="inactive">地点状态</h3>
<div class="items_status">
	<div class="item_status"><div class="item_status_num"><%=place.questions.size%></div><div class="item_status_txt"><div class="item_status_txt_q"><span>问题</spa></div></div></div>
	<div class="item_status"><div class="item_status_num"><%=Question.answers_sum(place.id).first.answers_sum%></div><div class="item_status_txt"><div class="item_status_txt_a"><span>回答</spa></div></div></div>
	<div class="item_status"><div class="item_status_num">3</div><div class="item_status_txt"><div class="item_status_txt_p"><span>活动</spa></div></div></div>
</div>	<div class="clear"> </div>
<h3 class="inactive">附近地点</h3>
<% places = Place.show_place_nearby(place.latitude,place.longtitude,5)%>
<% if places%>
<% places.each do |p|%>
<div class="near_by">
<div class="near_by_item"><span>><a href="/places/<%=p.id%>"><%=p.name%></a></span></div>

</div>
<% end %>
<% end %>