<div id="content_sub">
	<div id="content_sub_left">
	<div id="pl_nav">
	<a href="/place/hot"><span id="place_list_active">热门地点</span></a>
	<a href="/question/hot"><span class="inactive">热门问题</span></a>
	<!--span>我的关注</span--></div>

	<div id="pl_items">
		<% @place_hot.each do |p|%>
		<div class="list_item">
			<div class="list_item_summary">
			<div class="list_item_title"><a href="/places/<%=p.id%>"><%=p.name%></a></div>
			<div class="list_item_desc"><%=p.address%></div>
			</div>
			<div class="place_item_summary">
			 <table><tr>
				<td><%=p.questions.unanswered.size()%></td>
				<td><%= p.questions.size()%></td></tr><tr>
				<td>未回答</td><td>问题</td></tr></table>
			</div>
		</div>
		<% end %>
	

	</div><!-- place list items end -->
	</div><!-- content_sub_left -->
	<div id="content_sub_right">
	<%if current_user %>
			 <%= render :partial =>"/shared/sub_right_content", :locals =>{:user => current_user}%>
	<% end %>	
	</div>
	<div class="clear"> </div>
</div>