<div id="content_sub">
	<div id="content_sub_left">
		
		<div id="pl_header">		
			<div id = "place_icon">
				<%= image_tag "pl_ico.png", :alt => "logo",
				                            :id => "logo"%>
			</div>
			<div class="place_header_summary">
				<div class="list_item_title"><%=@place.name%></div>
				<div class="list_item_desc"><%=@place.address%></div>
			</div>
			 <span id="user_id_nav" user_id ="<%=session[:user_id]%>" style="display:none;"></span>
			 <% if current_user %>
			  <% if current_user.followships.find_by_place_id(@place.id) %>
				<a href="javascript:void(0)" id = "followship_link" ><div id="followship_place" class="followed_on" title 
				="取消关注"></div></a>
			 <%else%>
			    <a href="javascript:void(0)" id = "followship_link" ><div id="followship_place" 	  
				class="followed_off" title="添加关注"></div></a>
			 <%end%>
			 <% end %>

		</div> <!--place/id header end -->
		
		<div class="spacer"></div>
		
		<div id="ql_nav">
			<span id="ql_nav_which" nav_type ="new_question" style="display:none;"></span>
			<span id="place_id_nav" place_id ="<%=@place.id%>" style="display:none;"></span>
			<a href="javascript:void(0)"><span id ="new_question" class="question_list_active">最新</span></a>
			<a href="javascript:void(0)"><span id = "open_question"  class="inactive">待解决 </span></a>
			<a href="/question/hot"><span class="inactive">热门</span></a>
			<a href="/question/hot"><span id = "place_activities"  class="inactive">动态</span></a>
			
		</div>
		<div id= "question_items">
	    <%= render :partial =>"question", :collection =>@questions%>
		</div><!---question item end -->
</div> <!--- sub left end -->


	<div id="content_sub_right">
		 <%= render :partial =>"/shared/place_sub_right_content", :locals =>{:place => @place}%>	
	</div>
	<div class="clear"> </div>
	</div> <!--content right end -->
</div><!-- content sub end -->
