<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "home" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
   
    <div id="home">
	<div id="header">


			<img src="images/logo.png" alt="Logbook" style="margin-left: 14px; margin-right: 0px; margin-top:33px; margin-bottom:23px;">
			<div id="search_box">
			<input id="search_input"  value="请输入地点名称提问：">
			<ul id="search_result"> </ul>
			<span><a href="#" id="search_button" class="spy-dark"> 提问</a></span>
			</div>
			
			<%if !current_user %>
			<span><a href="login" id="log-in" > 登录</a></span>
			<%end%>
			<%if current_user%>
			<span ><a href="logout" id="log-in" > 登出</a></span>
			<%end%>
			

	</div><!-- header -->
	<div id="container" >
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>

    </div>
	  <%= yield %>
	</div><!-- content -->
<script>
$(document).ready(function(){
	lbsc.initializeAdmin();
	
 });
</script>
  </body>
</html>
